.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 600px; */
}

.wrapper > div {
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(234, 234, 234);
}
.wrapper > div:nth-child(odd) {
  background-color: rgb(255, 207, 207);
}

.wrapper > div:nth-child(1) {
  background-color: rgb(147, 215, 231);
  grid-column: 1/3;
}
.wrapper > div:nth-child(3) {
  /* background-color: blue; */
  grid-row: 2/5;
}
.wrapper > div:nth-child(8) {
  /* background-color: blue; */
  grid-column: 2/4;
  grid-row: 4/6;
}

.wrapper > div:nth-child(13) {
  background-color: rgb(222, 187, 255);
  grid-column: 1/4;
}
.wrapper > div:nth-child(5) {
  background-color: rgb(126, 255, 86);
  grid-row: 2/4;
}
